<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="APP_NAME">bookstore-app</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender with colored output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level} [%t] %style{%logger{36}}{cyan} - %msg%n"/>
        </Console>

        <!-- Rolling File Appender for All Logs -->
        <RollingFile name="AllLogsFile" 
                     fileName="${LOG_DIR}/${APP_NAME}.log"
                     filePattern="${LOG_DIR}/${APP_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- Rolling File Appender for Error Logs Only -->
        <RollingFile name="ErrorLogsFile" 
                     fileName="${LOG_DIR}/${APP_NAME}-error.log"
                     filePattern="${LOG_DIR}/${APP_NAME}-error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- Rolling File Appender for Controller Logs -->
        <RollingFile name="ControllerLogsFile" 
                     fileName="${LOG_DIR}/${APP_NAME}-controller.log"
                     filePattern="${LOG_DIR}/${APP_NAME}-controller-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>

        <!-- Rolling File Appender for Service Logs -->
        <RollingFile name="ServiceLogsFile" 
                     fileName="${LOG_DIR}/${APP_NAME}-service.log"
                     filePattern="${LOG_DIR}/${APP_NAME}-service-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>

        <!-- SQL Logs File -->
        <RollingFile name="SqlLogsFile" 
                     fileName="${LOG_DIR}/${APP_NAME}-sql.log"
                     filePattern="${LOG_DIR}/${APP_NAME}-sql-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Application specific loggers -->
        <Logger name="com.bookstore.bookstore_app.controller" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AllLogsFile"/>
            <AppenderRef ref="ControllerLogsFile"/>
            <AppenderRef ref="ErrorLogsFile"/>
        </Logger>

        <Logger name="com.bookstore.bookstore_app.service" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AllLogsFile"/>
            <AppenderRef ref="ServiceLogsFile"/>
            <AppenderRef ref="ErrorLogsFile"/>
        </Logger>

        <!-- SQL logging -->
        <Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="SqlLogsFile"/>
        </Logger>

        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="SqlLogsFile"/>
        </Logger>

        <!-- Security logging -->
        <Logger name="org.springframework.security" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AllLogsFile"/>
        </Logger>

        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AllLogsFile"/>
            <AppenderRef ref="ErrorLogsFile"/>
        </Root>
    </Loggers>
</Configuration>